
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #444;
  gap: 0 !important;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.todolist {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  gap: 2rem;
}

.todolist div.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.todolist div.lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.input input {
  width: 100%;
  border: none;
  outline: none;
  padding: .3rem 1rem;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #fff;
}

div.input span {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

div.input input:focus {
  border-bottom: 2px solid green;
}

div.input span:hover {
  color: green;
}

div.lists div.list {
  width: 100%;
  margin: 1rem 0;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px #111;
  gap: 1rem;
}

div.list p {
  width: 100%;
  color: #fff;
}

div.list span {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

div.list span.fa-check:hover {
  color: blue;
}

div.list span.fa-trash-can:hover {
  color: red;
}

@media all and (max-width: 720px) {
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .todolist {
    padding: 0;
  }
}